/* Color Theme Swatches in Hex */
.Camera1hex { color: #591829; }
.Camera2hex { color: #1A1E26; }
.Camera3hex { color: #F2B28D; }
.Camera4hex { color: #F2F2F2; }
.Camera5hex { color: #595959; }

/* Color Theme Swatches in RGBA */
.Camera1rgba { color: rgba(89, 24, 41, 1); }
.Camera2rgba { color: rgba(25, 29, 38, 1); }
.Camera3rgba { color: rgba(242, 177, 140, 1); }
.Camera4rgba { color: rgba(242, 242, 242, 1); }
.Camera5rgba { color: rgba(89, 89, 89, 1); }


/*
Extra small | Small | Medium | Large | Extra large
<576px	| ≥576px | ≥768px | ≥992px | ≥1200px
.col- | .col-sm- | .col-md- | .col-lg- | .col-xl-
*/

*,body {
    padding : 0;
    margin : 0;
}

.fas{
    color: rgba(242, 242, 242, 1);
}

/* Extra small */
@media (max-width: 575px) {
    .mid-def{
        display : none;
    }
    li.nav-item{
        font-size : 2em;
    }
    #ico_home{
        font-size : 1.8em;
    }
    #title_home{
        font-size: 1.6em;;
    }
    .lg-mid-def{
        display : none;
    }
    #leftArrow{
        position: absolute;
        top: 60%;
        left: 10px;
        font-size : 1.7em;
    }
    #rightArrow{
        position: absolute;
        top: 60%;
        right: 10px;
        font-size : 1.7em;
    }
}

/* Small to Large */
@media (min-width: 576px) {
    .small-def{
        display : none;
    }
    li.nav-item{
        font-size : 1.3em;
    }
    nav{
        margin-left : 200px;
        justify-content: center;
    }
    #leftArrow{
        position: absolute;
        top: 45%;
        left: 10px;
        font-size : 2.2em;
    }
    #rightArrow{
        position: absolute;
        top: 45%;
        right: 10px;
        font-size : 2.2em;
    }
    .navbar-not-home{
        padding-bottom: 75px;
    }
}

/* Medium */
@media (min-width: 576px) and (max-width: 991px) {
    .complete_menu{
        display : none;
    }
}

@media (max-width: 991px) {
    .large-def{
        display : none;
    }
}

@media (min-width: 992px) {
    .mid-def{
        display : none;
    }
}

/* Home */
#home{
    background-image: linear-gradient(rgba(25, 29, 38,0.8), rgba(242, 242, 242, 0),rgba(25, 29, 38,0.8)),
    linear-gradient(127deg, rgba(25, 29, 38,0.8), rgba(242, 242, 242, 0) 70.71%), url("../public/img/article4.jpg");
    background-repeat: no-repeat;
    background-position:center center;
}

.black_page{
    background-color: #1A1E26;
}

#home_article{
    background: #1A1E26;
}

#home_reservation{
    background: #1A1E26;
}

.logo{
    position: absolute;
    top: 0px;
    left: 0px;
}

#last_new{
    color: rgba(242, 242, 242, 1);
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    padding: 200px 0% 20px 24%;
}

/* Banner of news */
#banner{
    display: flex;
    justify-content: space-around;
    background: #1A1E26;
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-banner{
    width: 24%;
    height: auto;
    opacity: .4;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}

.img-banner:hover{
    opacity: 1;
}

.activ{
    opacity: 1;
}

/* Programmation */
#programmation{
    font-family: 'Bungee', cursive;
    text-align: right;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

#prog_title{
    text-align: center;
}

.day{
    text-align: right;
}

.number{
    color: #591829;
    font-size: 150%;
}

.movie{
    font-family: 'Source Sans Pro', sans-serif;
    color: #1A1E26;
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.film_title{
    font-family: 'Bungee', cursive;
    font-size: 1em;
}

.film_title::before{
    content: "";
    height: 90%;
    width: 4px;
    background-color: #591829;
    float: left;
    margin-right: 10px;
}

.seance{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .8em;
    color: #591829;
}

.film_button{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

/* Page d'articles */

.article_banner{
    background-image: url("../public/img/article4.jpg");
    background-repeat: no-repeat;
    color: rgba(242, 242, 242, 1);
    font-family: 'Bungee', cursive;
    padding-top: 35px;
    text-align: center;
}

.article_content{
    color: #1A1E26;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Footer */
footer{
    background: #1A1E26;
    font-family: 'Source Sans Pro', sans-serif;
    color: #F2F2F2;
    text-align: center;
    padding: 5% 15% 1% 15%;
}